#scenes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 5px solid red;
   
}

#scenes .scenes-translation{
    width: 70%;
    border: 5px solid rgb(20, 24, 255);

}

#scenes .scenes-chat{
    width: 30%;
    border: 5px solid rgb(20, 255, 98);

}