@import "../../variables.scss";

#scenes {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#scenes .content-wrapper{
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	// overflow: hidden; хз зачем он был
}

#scenes .scenes-translation {
	/* width: 70%; */
    width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
	overflow: auto;
}

#scenes .translation-header {
	position:sticky;
	top: 0px;
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: space-between;
	min-height: 74px;
	background: white;
}

#scenes .translation-content {
	width: 100%;
	max-width: 900px;
}

#scenes .translation-footer {
	flex-grow: 1;
	// overflow: auto;
}

#scenes .scenes-chat {
	max-width: 35%;
	width: 500px;
	min-width: 450px;
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;


	.pull{
		background-color: #ffffff;
		border-radius: 2px;
		position: absolute;
		top: 70px;
		width: 100%;
		z-index: 10;
		border: 1px solid #cccccc;

		height: 380px;

		#scenes-video{
			height: 100% !important;

			.translation-content{
				height: 100% !important;

				.video-container{
					height: 100% !important;
					padding-top: 0% !important;

					iframe{
						height: 100% !important;
					}
				}
			}
		}
	}
}

.translation-header > .scene-item {
	width: 100%;
	height: 54px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.translation-header > .scene-item > div {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.scene-item .scene-btn,
.scene-item .scene-btn-active {
	font-family: "Lato";
    font-weight: 400;
    color: black;
    width: 70%;
    min-width: 100px;
    height: 100%;
    background-color: white;
    font-size: 21px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09); */
    /* border-radius: 10px; */
    text-align: center;
}

.scene-item .scene-btn-active {
	color:  #1dacfc;
	border-bottom: 3px solid #1dacfc;
}

.scene-item .scene-status {
	font-family: "Gilroy";
	width: 20%;
	height: 70%;
	background-color: white;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
	border-radius: 5px;
	margin-left: 10px;
	font-size: 20px;
	line-height: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.video-container {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scenes-chat .chat-header {
	/* padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center; */
}

.scenes-chat .chat-content {
	flex-grow: 1;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #e8e8e8;
	border-top: none;
	background: #fff;
}

.scenes-chat .chat-header div {
	border: 0px;
}

@media screen and (max-width: 900px) {
	#scenes .content-wrapper {
		flex-direction: column;
	}
	#scenes .scenes-translation {
		max-width: unset;
		width: 100%;
		height: unset;
		overflow: unset;

		display: block;
	}

	#scenes .scenes-chat {
		width: unset;
		flex-grow: 1;
		max-width: 100%;
	}

	#scenes .translation-header {
		// flex-direction: column;
	}

	.scene-item .scene-btn {
		width: 80%;
	}

	#scenes .chat-header {
		// display: none;
	}

	.scenes-chat .chat-content {
		min-height: 500px;
	}
}
