@import "../../variables.scss";

#scenes {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#scenes .scenes-translation {
	/* width: 70%; */
    width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
}

#scenes .translation-header {
	position:sticky;
	top: 0px;
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: space-between;
	min-height: 74px;
}

#scenes .translation-content {
	width: 100%;
}

#scenes .translation-footer {
	flex-grow: 1;
}

#scenes .scenes-chat {
	max-width: 35%;
	width: 500px;
	min-width: 450px;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.translation-header > .scene-item {
	width: 100%;
	height: 54px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.translation-header > .scene-item > div {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.scene-item .scene-btn,
.scene-item .scene-btn-active {
	font-family: "Gilroy";
	font-weight: bold;
	color: black;
	width: 40%;
	min-width: 100px;
	height: 100%;
	background-color: white;
	font-size: 20px;
	line-height: 1.3vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	text-align: center;
}

.scene-item .scene-btn-active {
	background-color: $base-color;
	color: white;
}

.scene-item .scene-status {
	font-family: "Gilroy";
	width: 20%;
	height: 70%;
	background-color: white;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
	border-radius: 5px;
	margin-left: 10px;
	font-size: 20px;
	line-height: 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.video-container {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scenes-chat .chat-header {
	/* padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center; */
}

.scenes-chat .chat-content {
	flex-grow: 1;
	min-height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid rgb(199, 199, 199);
	background: #fff;
}

.scenes-chat .chat-header div {
	border: 0px;
}

@media screen and (max-width: 900px) {
	#scenes {
		flex-direction: column;
	}
	#scenes .scenes-translation {
		max-width: unset;
		width: 100%;
		height: unset;
		overflow: unset;

		display: block;
	}

	#scenes .scenes-chat {
		width: unset;
		flex-grow: 1;
		max-width: 100%;
	}

	#scenes .translation-header {
		flex-direction: column;
	}

	.scene-item .scene-btn {
		width: 80%;
	}

	#scenes .chat-header {
		display: none;
	}

	.scenes-chat .chat-content {
		min-height: 500px;
	}
}
