#scenes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#scenes .scenes-translation{
    /* width: 70%;
    max-width: 70%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow:1;
}

#scenes .translation-header{
    height: 10%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

#scenes .translation-content{
    width: 100%;
}
                
#scenes .translation-footer{
    flex-grow: 1;
    min-height: 150px;
}

#scenes .scenes-chat{
    max-width: 30%;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.translation-header>.scene-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.translation-header>.scene-item>div{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.scene-item .scene-btn{
    font-family: "Gilroy";
    font-weight:bold;
    color: white;
    width: 40%;
    height: 100%;
    background-color: #80BC26;
    font-size: 1.3vw;
    line-height: 1.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scene-item .scene-status{
    font-family: "Gilroy";
    width: 40%;
    height: 70%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 2vw;
    line-height: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;

}
.video-container iframe, 
.video-container object, 
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scenes-chat .chat-header{
    height: 10%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.scenes-chat .chat-content{
    flex-grow: 1;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(199, 199, 199);
}


.scenes-chat .chat-header div{
    height: 54px;
    width: 54px;
    background-size: cover;
    margin-right: 20px;
    background-position:center ;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    #scenes{
        flex-direction: column;
    }
    #scenes .scenes-translation{
        max-width: unset;
        width: 100%;
        height: unset;
        overflow: unset;
    }

    #scenes .scenes-chat{
        width: unset;
        flex-grow: 1;
        max-width: 100%;

    }

  }