@import "../../variables.scss";

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #EAE5DB;

    .login-form{
        padding: 50px 70px;
        background: #ffffff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 660px){
            padding: 50px 35px;
            margin: 10px;
        }

        .login-form--caption{
            font-size: 30px;
            text-align: center;
            color: #222629;
            font-weight: bold;
        }

        .form-item {
            display: flex;
            width: 100%;
            margin-top: 20px;
            align-items: center;
            flex-wrap: wrap;

            &>input{
                width: 100%;
                display: block;
                border-radius: 20px;
                padding: 5px 15px;
                border: 1px solid #CED0D3;
                font-size: 18px;
                color: black;
                outline: none;
                transition: .2s;

                &:focus {
                    border: 1px solid #00aaff;
                }
            }

            .form-link {
                font-size: 18px;
                color: #00aaff;
            }

            .e-button {
                font-size: 18px;
                max-width: 300px;
                width: 100%;
                
                .my-spinner {
                    .text-success {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}

    
