#quest {
	display: grid;
	min-height: 100%;
	width: 100%;
	grid-template-columns: 20px 1fr 10px 1fr 20px;
	grid-template-rows: 76px 20px 1fr 10px 1fr 20px;
}

.quest-item {
	padding: 20px;
	width: 100%;
	height: 100%;
}

.quest-item > a {
	height: 100%;
	justify-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	width: 100%;
}

.quest-header{
	grid-column: 1 / span 5;
	grid-row-start: 1;
}

.quest-item:nth-child(2) {
	grid-column-start: 2;
	grid-row-start: 3;
}

.quest-item:nth-child(3) {
	grid-column-start: 4;
	grid-row-start: 3;
}

.quest-item:nth-child(4) {
	grid-column-start: 2;
	grid-row-start: 5;
}

.quest-item:nth-child(5) {
	grid-column-start: 4;
	grid-row-start: 5;
}

.quest-item > img {
	width: 100%;
	max-height: 100%;
}

@media screen and (max-width: 900px) {
	#quest {
		display: flex;
		min-height: 100%;
		width: 100%;
		flex-direction: column;
	}

	.quest-item {
		height: 0px;
		min-height: 200px;
	}
}
