@import "../../variables.scss";

#menu {
	/* height: 100%; */
	/* width: 10vw; */
	/* min-width: 130px; */
	background-color: white;
	/* overflow: hidden; */
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* justify-content: space-around; */

	overflow-y: auto;
	max-width: 130px;
	border-right: 1px solid #cecece;
}

.menu-item {
	/* display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	background-color: #c3d600;
	transition: background-color 200ms;
	flex-grow: 1; */
	color: $base-color;
    text-decoration: none;
	font-family: "Lato";
	font-weight: 400;
    font-size: 15px;
    padding: 20px 10px;
    flex-direction: column;
    text-align: center;
    border-left: 3px solid white;
    transition: 100ms;
    background-color: white;

}

.menu-item:hover {
	background-color:white;
	border-left: 3px solid $base-color;
	transition:100ms;
	text-decoration: none;
}

.menu-item{
	text-decoration: none;
	background-color: transparent;
	color: $base-color;

	/* 
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%; */

	&:hover{
		text-decoration: none;
		color: $base-color;
	}
}

.menu-item-icon {
	/* height: 40%;
	width: 30px; */
	width: 100%;
}

.menu-item-icon-wrap {
	max-width: 40px;
	position: relative;
}

.menu-notify{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 10px;
	height: 10px;
	background-color: #ff0000;
	
	border-radius: 50%;
}

.menu-item-label {
	line-height: 1;
	/* text-align: center;
	font-size: 2vh;
	line-height: 1.2;
	font-family: "Gilroy"; */
}
