#edit-profile {
	.registration-wrap,
	.edit-wrap,
	.profile-wrap {
		transition: 0.2s;
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
		// overflow: hidden;

		.left {
			background-color: #22d671;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;

			.ava {
				img {
					object-fit: cover;
				}
			}

			.btn {
				img {
					width: 100%;
				}
			}

			input[type="file"] {
				width: 100px;
				height: 100px;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.radio {
				user-select: none;
				transition: 0.2s;
				cursor: pointer;
				color: #000;
				border: 2px solid #22d671;
				background: #fff;
				border-radius: 10px;
				padding: 5px 20px;
				text-align: center;

				&-selected {
					color: #fff;
					background: #22d671;
				}

				&:hover {
					background: #1dd6737a;
				}
			}

			.css-vndh9s-control {
				border: 1px solid #22d671;
				box-shadow: 0 0 0px 1px #22d671;
			}
			// .css-1pahdxg-control {
			// 	box-shadow: 0 0 0 1px #f4004d;
			// 	&:hover {
			// 		border-color: #f4004d;
			// 	}
			// }
			// .css-1laao21-a11yText {
			// 	// border: 3px solid #f4004d;
			// }
			.btn-submit {
				color: #18ba5a;
				font-family: IBM Plex Mono;
				font-weight: bold;
				font-size: 30px;
				background: #ffffff;
				border: 3px solid #19b75e;
				border-radius: 10px;
				padding: 5px 30px;
			}
		}
	}
	.edit-wrap {
		.left {
			background-color: #1dd673;
		}

		.r1-inp {
			border: 2px solid #1dd673;
		}

		.right {
			.radio {
				border: 2px solid #1dd673;

				&-selected {
					background: #1dd673;
				}
			}
			.css-vndh9s-control {
				border: 1px solid #1dd673;
				box-shadow: 0 0 0px 1px #1dd673;
			}
		}
	}
}
