@import "../../variables.scss";

#lang-checker {
	height: 56px;
	width: 300px;
	margin-top: 20px;

	&.mini {
		height: unset;
		width: unset;
		margin-top: 0px;

		.css-1uccc91-singleValue {
			// color: white;
			font-size: 16px;
		}

		.css-1cnxohn-control {
			border-color: $base-color;
			box-shadow: inset 0 0 1px 1px #1dd673;
		}
	}

	input {
		margin-top: 5px !important;
		height: unset !important;
	}

	@media screen and (max-width: 500px) {
		width: auto;
	}

	.css-yk16xz-control {
		background-color: unset;
		color: white;
	}

	.css-1pahdxg-control {
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		border-color: $base-color;
		box-shadow: 0 0 0 1px $base-color;
		border-radius: 8px;

		&:hover {
			border-color: $base-color;
			box-shadow: 0 0 0 1px $base-color;
		}
	}

	.css-1uccc91-singleValue {
		// color: white;
		font-size: 20px;
	}
}
