#lang-checker{
	height: 56px;
	width: 300px;
	margin-top: 20px;

	&.mini{
		height: unset;
	width: unset;
	margin-top: 0px;


	.css-1uccc91-singleValue{
		// color: white;
		font-size: 16px;
	}
	}

	input{
		margin-top: 5px!important;
		height: unset!important;
	}

	@media screen and (max-width: 500px) {
		width: auto;
	}

	.css-yk16xz-control {
		background-color: unset;
		color: white;
	}

	.css-1pahdxg-control{
		background-color: rgba(0, 0,0, 0.1);
		color: white;
		border-color: #22d671;
		box-shadow: 0 0 0 1px  #22d671;
		border-radius: 8px;

		&:hover{
			border-color: #22d671;
			box-shadow: 0 0 0 1px  #22d671;


		}
	}

	.css-1uccc91-singleValue{
		// color: white;
		font-size: 20px;
	}
}

