#registration {
	position: relative;

	.back {
		width: 69px;
		height: 69px;
		border-radius: 50%;
		position: absolute;
		top: 0px;
		left: -80px;
		background: url(../../images/back.svg) center center no-repeat;
		background-color: #22d671;
	}
	.profile-wrap {
		.left {
			display: flex;
			flex-direction: column;
			background-color: #1dd673;

			.field {
				background: #fff;
				border-radius: 10px;
				padding: 10px 25px;
				min-height: 44px;
			}

			.ava {
				flex-grow: 1;

				img {
					width: 150px;
					height: 150px;
					border-radius: 50%;
				}
			}
		}

		.right {
			.title {
				font-family: FuturaDemiC;
				font-weight: 600;
				font-size: 36px;
			}

			.text {
				font-family: FuturaBookC;
				font-weight: normal;
				font-size: 30px;
			}
		}
	}
}
