#float-video-translation{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  pointer-events: none;

  .video{
    position: relative;
    pointer-events: auto;
    top: 74px;
    left:0px;
    height: min-content;
    max-width: 65%;
    z-index: 10;
    overflow: auto;
    flex-grow: 1;
    transition: top 400ms, left 400ms, max-width 400ms, flex-grow 400ms;
  }

  .chat-place{
    max-width: 35%;
    width: 500px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
  }

  &.hidden{
    visibility: hidden;
  }

  &.floated{
    position: fixed;
    z-index: 5;
    
    .video{
      position: relative;
      left: calc(100% - 475px);
      top: calc(100% - 190px);
      height: min-content;
      max-width: 300px;
      z-index: 5;
      overflow: unset;
      flex-grow: 1;
      pointer-events: auto;
      transition: top 400ms, left 400ms, max-width 400ms, flex-grow 400ms;

    .close-btn{
      z-index: 10;
      height: 30px;
      width: 30px;
      position: absolute;
      top: -32px;
      background-image: url('../../images/menu/close-icon.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      right: 0px;
      background-color: rgb(131, 131, 131);
      border-radius: 2px;

    }
  }

  .chat-place{
    max-width: 0%;
    width: 0px;
    min-width: 0px;
    
  }
  }

  
}

@media screen and (max-width: 900px) {
	#float-video-translation {
    flex-direction: column;
    
    .video {
		max-width: unset;
		width: 100%;
		height: unset;
		overflow: unset;

		display: block;
	}

	.chat-place {
		width: unset;
		flex-grow: 1;
    max-width: 100%;
  }
}
	}