
#scenes-chat-mobile{
  
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex-grow 200ms;

  &.isOpen{
    flex-grow: 1;
    transition: flex-grow 200ms;
  }

  &.hidden{
    flex-grow: 1;
    transition: flex-grow 200ms;
  }

}

.check-chat-panel{
  min-height: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  background: #c9d0cc;
  overflow: hidden;
  transition: height 200ms;

  &.hidden{
    height: 0px;
    min-height: 0px;
    margin:0px;
    transition: height 200ms, min-height 0px;
  }

  .item{
    width: 33.3%;
    background-color: #e4e4e4;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    z-index: 3;

    &.active{
      background-color: #f5f5f5;
    }
  }

  .item:nth-child(2){
    border-left: 1px solid #dddcdc;
    border-right: 1px solid #dddcdc;
  }

  .arrow-btn{
    width: 65px;
    border-radius: 2px;
    background-image: url(../../../images/menu/arrow-white-btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    transition: 400ms;
    background-color: #c9d0cc;
    z-index: -0;


    &.opened{
      transform: rotate(0deg);
      transition: 400ms;
    }
  }
}

.message-box{

  flex-grow: 1;
  transition: flex-grow 200ms;
  overflow: hidden;

  flex-direction: column-reverse;
  position: relative;

	.ScrollbarsCustom {
		position:static !important;
	}

  &.hidden{
    flex-grow: 0;
    transition: flex-grow 200ms;
  }

  .message-item{
    width: calc(100% - 20px);
    padding: 5px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: 50px 1fr 60px;
    text-align: left;
    border-radius: 2px;
    margin-bottom: 7px;

    &.bordered{
      border-left: 4px solid #ccc9c9

    }
  
    .text{
      grid-column-start: 2;
      grid-row-start: 1;
      text-align: left;
      padding-left: 2px;
      line-height: 1.2;

      .mes-text{
        overflow-wrap: anywhere;
      }

    }

    img{
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 2px;
    }

    &.replied{

      border-left: 4px solid #ccc9c9;
      margin-bottom: 0;
      padding: 0 5px;
      .text{
        grid-column: 1 / 4;
        grid-row-start: 1;
        text-align: left;
        line-height: 1.2;
        font-size: 15px;
        padding: 5px;
        padding-left: 10px;
        background-color: #e4e4e4;
        border-radius: 4px;
        
      }
    }

    .message-reply{
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: rgb(75, 74, 74);
      padding: 5px;

      .message-time{
       
      padding-left: 2px;
      line-height: 1.2;
      }

      .message-reply-btn{
        cursor: pointer;
        padding-left: 2px;
      line-height: 1.2;
      }
    }

    }
}
.message-input{
  display: flex;
  height: 55px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: height 200ms; 

  &.banned{
    background-color: #c9d0cc;
    padding: 10px 15px
  }

  &.hidden.banned{
    padding: 0px;
  }

  &.hidden{
    height: 0;
    transition: height 200ms; 
  }

  &>input{
    font-family: "FuturaBookC";
    display: block;
    width: calc(100% - 10px);
    margin: 5px;
    border-radius: 2px;
    height: 45px;
    padding: 0 10px 0 10px;
    border: 0px;
    font-size: 20px;
    box-sizing: border-box;
    color: black;
  }

  input:focus{
      outline: none;
  }

  .send-btn{
    width: 65px;
    height: 45px;
    border-radius: 2px;
    background-color: #c9d0cc;
    background-image: url(../../../images/icons/send-btn.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
    border: 0px;
    outline: none;
  }

  


}

.close-btn{
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #c9d0cc;
  background-image: url(../../../images/menu/close-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
  border: 0px;
  outline: none;
}

.reply-icon{
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #c9d0cc;
  background-image: url(../../../images/menu/reply-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
  border: 0px;
  outline: none;
}

.message-attachment{

  background-color: #c9d0cc;
  padding: 5px;

  .reply-attachment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .reply-name{
      text-align: left;
      flex-grow: 1;
      padding-left: 10px;
    }

  }
}



