@import "../../variables.scss";

#registration-acception {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #F5F5F5;

    .registration-acception-container{
        padding: 50px 70px;
        background: #ffffff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 400px;
        @media screen and (max-width: 660px){
            padding: 50px 35px;
            margin: 10px;
        }

        .registration-acception-container--caption {
            font-size: 19px;
        }

        .form-item {
            display: flex;
            width: 100%;
            margin-top: 20px;
            align-items: center;
            flex-wrap: wrap;
        }

        .logo {
            max-width: 300px;
            width: 100%;
        }

        .e-button {
            font-size: 18px;
            max-width: 250px;
            width: 100%;

            .my-spinner {
                .text-success {
                    color: #fff !important;
                }
            }
        }
    }
}

    
