#exposure {
	.card-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

		@media screen and (max-width: 500px) {
			grid-template-columns: auto;
		}

		.card {
			background: #ffffff;
			border-radius: 10px;
			margin: 20px;
			overflow: hidden;
			border: none;
			text-decoration: none;
			min-height: 300px;

			.head {
				padding: 20px;
			}

			.name {
				background-color: #e7044c;
				padding: 10px;
				border-radius: 10px;
				font-family: "Gabriela";
				font-size: 17px;
				line-height: 23px;
				color: #ffffff;
				text-align: center;
			}

			.logo {
				img {
					width: 100%;
				}
			}

			.desc {
				padding: 15px 25px;
				height: 100%;
				font-family: "FuturaBookC";
				font-size: 24px;
				line-height: 27px;
				color: #ffffff;
			}
		}
	}
}
