@import "../../variables.scss";

#header-mobile {
	background-color:$base-color;
	display: grid;
	grid-template-columns: 60px 1fr 60px;
}

#profile-link-mobile{
	background-image: url('../../images/menu/profile-icon.svg');
	background-position: center;
	background-repeat: no-repeat;

}

.logo-mobile{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "FuturaBookC";
	color: white;
	// font-size: 28px;
	transition: 200ms;
	z-index: 5;

	&.active{
    // transform: rotate(-45deg) translateY(140px) translateX(-145px);
		// transition: 300ms;
		.logo-mobile--text:nth-child(1){
			transform: translateY(190px) translateX(25px);
			transition: 300ms;
		}
		.logo-mobile--text:nth-child(2){
			transform: translateY(190px) translateX(25px);
			transition: 300ms;
			transition-delay: 50ms;
		}
		.logo-mobile--text:nth-child(3){
			transform: translateY(210px) translateX(-23px);
			transition: 300ms;
		}

		.logo-mobile--icon{
			// height: 35px;
			// transform: translateY(200px);
		}

	}

	.logo-mobile--text{
			transition: 300ms;
	}

	.logo-mobile--icon{
		height: 25px;
		transition: 300ms;

		img{
			height: 100%;
		}
	}
	

}
