
@import "../../variables.scss";

.profile-header {
	border-bottom: 1px solid #c4c4c4;
	background-color: white;

	.profile {
		justify-content: flex-end;

		.ava {
			padding: 10px;

			img {
				border-radius: 50%;
				width: 54px;
				height: 54px;
			}
		}

		.action-link {
			// width: 136px;
			background: $base-color;
			border: 1px solid $base-color;
			box-sizing: border-box;
			border-radius: 10px;
			font-family: 'FuturaBookC';
			text-decoration: none;
			color: white;
			font-size: 15px;
			text-align: center;
			line-height: 1.2;
			padding: 10px 10px;
			margin-right: 40px;
		}
	}
}
