.profile-header {
	border-bottom: 1px solid #c4c4c4;

	.profile {
		justify-content: flex-end;

		.ava {
			padding: 10px;

			img {
				border-radius: 50%;
				width: 54px;
				height: 54px;
			}
		}

		.action-link {
			width: 136px;
			background: #F4004D;
			border: 1px solid #F4004D;
			box-sizing: border-box;
			border-radius: 10px;
			font-family: Roboto;
			text-decoration: none;
			color: white;
			font-size: 15px;
			text-align: center;
			line-height: 14px;
			padding: 10px 10px;
			margin-right: 40px;
		}
	}
}
