#stikers{
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
}

.wrapper-of-wrappers{
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.emoji-stikers-wrapper{
	display: flex;
	width: 50%;
    flex-direction: column;
    align-content: flex-start;
    margin: 20px;
}

.language-stikers-wrapper{
	display: flex;
    width: 20%;
    flex-direction: column;
    align-content: flex-start;
    margin: 20px;
}



.timetable-wrapper{
	margin: 10px 20px;
	width: 50%;
	min-height: 70px;
}
.timetable {
	width: 100%;
}

.banner-wrapper{
	margin: 10px 20px;
}

.banner{
	width: 100%;
	cursor: pointer;
}

.emoji-stikers{
	background: #C3D600;
	box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	height: 100%;
	border: 1px solid #C3D600;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emoji-stikers-caption{
	font-family: "FuturaBookC";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 22px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
}

.emoji-stikers-list{
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.emoji-stikers-item{
	height: 100%;
	width: 100%;
    display: flex;
    justify-content: center;
}

.emoji-stikers-item > img{
	cursor: pointer;
	width: 60%;
	transition: 0.1s;
}
.emoji-stikers-item > img:hover{
	transform:scale(1.1);
	transition: 0.1s;
}


.language-stikers{
	background: #C3D600;
	box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	border: 1px solid #C3D600;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.language-stikers-caption{
	font-family: "FuturaBookC";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 25px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
}

.language-stikers-list{
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.language-stikers-item{
	height: 80%;
	width: 80%;
    display: flex;
    justify-content: center;
}

.language-stikers-item > img{
	cursor: pointer;
	max-height: 80%;
	max-width: 100%;
	/* transition: 0.s; */
}
/* .language-stikers-item > img:hover{
	transition: 0.1s;
} */


@media screen and (max-width: 700px) {
	#stikers{
		flex-direction: column;
	}

	.emoji-stikers-wrapper{
		width: calc(100% - 40px);
	}

	.language-stikers-wrapper{
		width:50%;
		height: 80px;
	}
}