#stikers{
	width: 100%;
	height: 100%;
	border: 1px solid red;
}

#stikers .stikers-wrapper{
	position: relative;
	top: 30px;
	left: 40px;
	width: 50%;
	background: #C3D600;
	box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#stikers .stikers-caption{
	font-family: "FuturaBookC";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	margin-top: 10px;
	text-align: center;
	color: #FFFFFF;
}

#stikers .stiker-list{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#stikers .stiker-list-item{
	width: 9%;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 5px;
	margin-bottom: 10px;
}

#stikers .stiker-list-item:hover{
}

/* .stiker-1{
	background-image: url(../../images/stikers/stiker-1.svg);
}

.stiker-2{
	background-image: url(../../images/stikers/stiker-2.svg);
}

.stiker-3{
	background-image: url(../../images/stikers/stiker-3.svg);
}

.stiker-4{
	background-image: url(../../images/stikers/stiker-4.svg);
}

.stiker-5{
	background-image: url(../../images/stikers/stiker-5.svg);
} */