@import "~bootstrap/scss/bootstrap";
@import "../variables.scss";

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.r1-inp {
	border: 2px solid $base-color;
	padding: 5px 20px;
	border-radius: 10px;
}
